.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.uploadedImage > img {
  max-width: 400px;
}

.prediction-reults {
  font-size: xx-large;
  font-weight: bolder;
  /* font-family: cursive; */
  color: indigo;
}

.Labels-Identification {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.Lable-names {
  color: darkolivegreen;
  padding-right: 3rem;
}

.Lable-values {
  color: darkslateblue;
}
